body {
    background: lightgray;
    color: #6c757d;
    text-decoration: none;
    background-color: transparent;
}

a {
    color: #6c757d;
    text-decoration: none;
    background-color: transparent;
}
